<section id="banner">
	<div class="container">
			<div class="row">
				<div class="col-md-6"></div>
				<p class="title-gym">HEALTHYFIT</p>
			</div>
	</div>




	<div class="card card-body p-5 mt-4"> 

	<div>
		<a class="btn bg-btn justify-content-center btn-primary btn-lg" href="/auth/signup"
			role="button">REGISTRARSE</a>
	</div>
</div>

</section>
